
@import '../variables.scss';
@import '../mixin.scss';
@import '../function.scss';

.header_hero {
  background-image: url("../../public/artist.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 48.55%;
  position: relative;
}

.sec_artist {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.heading1 {
  color: $white;
  font-size: rem(28px);
  font-weight: bold;
}

.time_range_selector {
  align-items: center;
  display: flex;
  justify-content: space-around;
}