@import '../variables.scss';

.container {
  background-color: $bg-color;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.sec_top {
  margin: 0 auto;
  max-width: 1000px;
}
