@import '../variables.scss';
@import '../mixin.scss';
@import '../function.scss';
.sec_top {
  margin: 0 auto;
  padding: 80px 0 0 0;
  max-width: 1000px;
}

.heading1 {
  color: $text-color;
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
}

.buttonWrap {
  display: flex;
  margin: rem(40px) 0 0 0;
  justify-content: center;
  width: 100%;
}
