@import '../variables.scss';
@import '../mixin.scss';
@import '../function.scss';

.heading1 {
  color: $white;
  font-size: rem(24px); 
  font-weight: bold;
  @include responsive(sm) {
    font-size: rem(28px);
  }
}

.nav {
  background-color: $primary-color;
  padding: rem(12px) rem(8px);
  width: 100%;
  @include responsive(sm) {
    padding: rem(8px) 0;
  }
}

.nav_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.nav_lists {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav_list {
  color: $white;
  font-size: rem(18px);
  @include responsive(sm) {
    font-size: rem(20px);
  }
  &:not(:last-child) {
    margin: 0 rem(16px) 0 0;
    @include responsive(sm) {
      margin: 0 rem(24px) 0 0;
    }
  }
  & a {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  &[data-active="true"] {
    & a {
      opacity: 1;
    }
  }
}