@import '../variables.scss';
@import '../mixin.scss';
@import '../function.scss';

.modal {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 0 8px #a4a4a4;
  display: none;
  padding: rem(24px) rem(16px);
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  z-index: 10;
}

.is-show .modal {
  display: block;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: rem(20px);
  font-weight: bold;
}

.button_area {
  margin: rem(20px) 0 0 0;
}

.close {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 5px;
  color: $white;
  font-weight: bold;
  padding: rem(8px) rem(16px);
}