/*--------------------
数値から値を取り除く
--------------------*/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/*--------------------
px to rem
--------------------*/
@function rem($px, $base: 16px) {
  $value: $px;

  @if (unit($px) != '$px') {
    @warn 'rem()の引数にpx以外の値を指定しても計算できません。';
    @return $value;
  }

  $value: (strip-unit($px) / strip-unit($base) * 1rem);

  @return $value;
}
