/*-------------------
Base Color
-------------------*/
$primary-color: #b9e0e1;
$secondary-color: #98c9db;
$bg-color: #f4f4f5;
$accent-color: #dfbb49;
$white: #fff;
/*-------------------
Text Color
-------------------*/
$text-color: #333333;
