/*-------------------
Base Color
-------------------*/
$primary-color: #3d5A85;
$secondary-color: #057490;
$bg-color: #f4f4f5;
$accent-color: #dfbb49;
$white: #fff;
$content-color: #425894;
$sub-content-color: #7593ce;
$text-color: #333333;