/*-------------------
Base Color
-------------------*/
$primary-color: #b9e0e1;
$secondary-color: #98c9db;
$bg-color: #f4f4f5;
$accent-color: #dfbb49;
$white: #fff;
$link-color: #a5d8df;
/*-------------------
Text Color
-------------------*/
$text-color: #333333;
$content-color: #425894;
$sub-content-color: #7593ce;